.game-stats {
	width: 100%;
	min-width: 1400px;
	min-height: 1100px;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
}

.game-stats .card {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-direction: column;
	width: 100%;
	overflow: auto;
}

.game-stats .centered-text {
	margin: auto;
}

.game-stats .p-datatable-scrollable .p-datatable-wrapper {
	overflow: auto;
}

.game-stats .p-datatable {
	padding-top: 10px;
	margin: auto;
	font-size: 0.8rem;
	background: radial-gradient( #000 0%, #222E3A 100%);
	-webkit-text-stroke: 1px gray;
}

.game-stats .p-datatable .p-datatable-tbody > tr {
	font-size: large;
	-webkit-text-stroke: 1px wheat;
	background: transparent;
	border: none;
}

.game-stats .user-data img {
	width: 32px;
	height: 32px;
}

.game-stats .user-data {
	display: flex;
	flex-direction: column;
}

.game-stats .user-data a {
	text-decoration: none;
}

.game-stats .user-data .user-nickname a {
	text-decoration: none;
}