.game-stats {
	width: 100%;
	min-width: 1400px;
	min-height: 1100px;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
}

.game-stats .card {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-direction: column;
	width: 100%;
	overflow: auto;
}

.game-stats .centered-text {
	margin: auto;
}

.game-stats .p-datatable-scrollable .p-datatable-wrapper {
	overflow: auto;
}

.game-stats .p-datatable {
	padding-top: 10px;
	margin: auto;
	font-size: 0.8rem;
	background: radial-gradient( #000 0%, #222E3A 100%);
	-webkit-text-stroke: 1px gray;
	width: 98%
}

.game-stats .p-datatable .p-datatable-tbody > tr {
	font-size: large;
	-webkit-text-stroke: 1px wheat;
	background: transparent;
	border: none;
}

.game-stats .user-data img {
	width: 32px;
	height: 32px;
}

.game-stats .user-data {
	display: flex;
	flex-direction: row;
}

.game-stats .user-data span {
	text-decoration: none;
	margin: auto;
	font-size: 1.3rem;
}

.game-stats .user-data .user-nickname span {
	text-decoration: none;
}

.game-stats .p-accordion-content {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.game-stats .p-input-icon-left {
	margin: auto auto 0.5rem;
}

.game-stats .accordion-column {
	font-size: 1.3rem;
}

.game-stats .accordion-column >div {
	font-size: 0.8rem;
}

.game-stats .accordion-header-data {
	margin: auto 2rem;
}