.steam-login-button {
	display: flex;
}

.steam-login-button .p-button {
	font-family: "Future Rot";
	background: #000;
	color: #d3e0e3;
	-webkit-text-stroke: 1px #e01220;
	border: none;
}

.steam-login-button .p-button:hover,
.steam-login-button .p-button:active {
	background: #000 !important;
    color: rgb(248, 67, 67) !important;
    transition: 0.1s;
    border: none;
}

.steam-login-button button {
	height: 50px;
	margin-top: auto;
	margin-bottom: auto;
}
