.hall-of-fame {
    display: flex;
    flex-direction: column;
}

.hall-of-fame .card {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    width: 100%;
    max-height: 90vh;
    overflow: auto;
}

.hall-of-fame .centered-text {
    margin: auto;
}

.hall-of-fame .card .p-toolbar-group-start .p-toolbar-group-left {
    gap: 10px;
    margin: auto;
}

.hall-of-fame .app-toolbar {
    width: 100%;
    margin: 0;
}

.hall-of-fame .app-data-table.p-datatable {
    width: 100%;
    margin: 0;
    padding-top: 0.8rem;
    font-family: 'Future Rot';
    font-size: 1.1rem;
    -webkit-text-stroke: 1px black;
}

.hall-of-fame .p-datatable-tbody .voting {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--standardGap);
}

.hall-of-fame [class*='p-button'] {
    transition: all 0.5s;
}

.hall-of-fame [class*='vote-up-button'] {
    background: rgb(0, 188, 0);
    border: none;
}

/* No blue colour on pointer's hover */
.hall-of-fame [class*='vote-up-button']:hover {
    background: forestgreen;
}

/* When you click and hold the button, and move the cursor away still holding the button */
.hall-of-fame [class*='vote-up-button']:active:focus {
    background: forestgreen;
}

.hall-of-fame [class*='self-voted'] {
    box-shadow: inset 1px 5px 20px black;
}

.hall-of-fame [class*='vote-down-button'] {
    background: rgb(188, 0, 0);
    border: none;
}

.hall-of-fame [class*='vote-down-button']:hover {
    background: rgb(139, 34, 34);
}

.hall-of-fame [class*='vote-down-button']:active:focus {
    background: rgb(139, 34, 34);
}

/* .hall-of-fame [class*='p-button-rounded'] {
    font-size: 1.2rem;
    -webkit-text-stroke: 0px;
} */

.hall-of-fame .p-datatable button {
    color: white;
    border: none;
}

.hall-of-fame .p-datatable button:hover,
.hall-of-fame .p-datatable button:active {
    border: none;
}

.hall-of-fame .p-datatable button.mr-2 {
    background-color: #000 !important;
}

.hall-of-fame .p-datatable button.mr-2:hover,
.hall-of-fame .p-datatable button.mr-2:active {
    background-color: #000 !important;
    color: rgb(248, 67, 67) !important;
}

.hall-of-fame .p-datatable button.p-button-danger {
    background: rgb(172, 21, 21);
    margin-left: 15px;
}

.hall-of-fame .p-datatable button.p-button-danger:hover,
.hall-of-fame .p-datatable button.p-button-danger:active {
    background-color: red !important;
    transition: 0.2s;
    color: white !important;
}
