.hall-of-fame-suggestions {
    display: flex;
    flex-direction: column;
}

.hall-of-fame-suggestions .card {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
}

.hall-of-fame-suggestions .centered-text {
    margin: auto;
}

.hall-of-fame-suggestions .app-toolbar {
    width: 100%;
    margin: 0;
}

.hall-of-fame-suggestions .card .p-toolbar-group-start .p-toolbar-group-left {
    gap: 10px;
    margin: auto;
}

.hall-of-fame-suggestions .p-datatable-scrollable .p-datatable-wrapper {
    overflow: auto;
}

.hall-of-fame-suggestions .app-data-table.p-datatable {
    width: 100%;
    margin: 0;
    padding-top: 0.8rem;
    font-family: 'Future Rot';
    font-size: 1.1rem;
    -webkit-text-stroke: 1px black;
}
