.home-page {
	height: 100%;
	width: 100%;
	min-width: 1400px;
	min-height: 1100px;
	background-position: center;
	background-size: cover;
}

.home-page .card {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.section {
	width: 33%;
}

.home-page .p-datatable {
	font-family: "Future Rot";
	font-size: 1.2rem;
	-webkit-text-stroke: 1px black;
}

.home-page .p-datatable .p-datatable-tbody > tr {
	background: transparent;
	border: none;
}

.home-page .p-datatable .p-datatable-thead > tr > th {
	background: transparent;
	border: none;
}

.home-page .p-datatable .p-datatable-tbody > tr > td {
	border: none;
}
