.navigation-menu {
	display: flex;
	justify-content: center;
	gap: var(--standardGap);
	font-family: "Future Rot";
	align-items: center;
}

.navigation-menu .p-button {
	font-family: "Future Rot";
	overflow: inherit;
	border: 0.2rem solid;
	border-radius: 10rem;
	border-color: red;
	color: white;
	background-color: #3B3B3B;
	height: 3rem;
	transition: all 0.5s;
}

.navigation-menu .p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
	color: #d3e0e3;
	transform: translateY(5px);
	background: rgb(77,79,78);
	border: 2px #383535 solid;
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
	box-shadow: inset 0px 0px 5px #c1c1c1;
	outline: none;
	background: linear-gradient(90deg, rgba(77,79,78,0.8463760504201681) 0%, rgba(61,56,60,0.6530987394957983) 50%, rgba(73,73,74,0.8435749299719888) 100%);
	scale: 0.9;
}

.steam-login-button .p-button {
	background: transparent;
	border: none;
}
