:root {
	--standardPadding: 20px;
}

@font-face {
	font-family: "Future Rot";
	src: url("./resources/fonts/FutureRot.eot");
	src: url("./resources/fonts/FutureRot.eot?#iefix") format("embedded-opentype"),
		url("./resources/fonts/FutureRot.woff2") format("woff2"),
		url("./resources/fonts/FutureRot.woff") format("woff"),
		url("./resources/fonts/FutureRot.ttf") format("truetype"),
		url("./resources/fonts/FutureRot.svg#FutureRot") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.centered-text {
	-webkit-text-stroke: 1px black;
	font-family: "Future Rot";
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}

.text {
	-webkit-text-stroke: 1px black;
	font-family: "Future Rot";
	font-size: 2rem;
	font-weight: 600;
}

.centered-text .font1 {
	font-size: 1.4rem;
	font-weight: 400;
}
