.hall-of-fame {
	width: 100%;
	min-width: 1400px;
	min-height: 880px;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
}

.hall-of-fame .card {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	overflow: auto;
}

.hall-of-fame .centered-text {
	margin: auto;
}

.hall-of-fame .card .p-toolbar {
	width: 100%;
}

.hall-of-fame .card .p-toolbar-group-start .p-toolbar-group-left {
	gap: 10px;
	margin: auto;
}

.hall-of-fame .card .p-toolbar,
.p-toolbar-group-center {
	margin: 0;
}

.hall-of-fame .p-datatable-scrollable .p-datatable-wrapper {
	overflow: none;
}

.hall-of-fame .p-datatable {
	width: 90%;
	background-color: transparent;
	background: transparent;
	padding-top: 20px;
	margin: auto;
	font-family: "Future Rot";
	font-size: 1.1rem;
	backdrop-filter: blur(10px);
	-webkit-text-stroke: 1px black;
}

.hall-of-fame .p-datatable .p-datatable-tbody > tr {
	background: transparent;
	border: none;
}

.hall-of-fame .p-datatable-tbody .voting {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--standardGap);
}

.hall-of-fame [class*="vote-up-button"] {
	background: green;
	border: none;
}

.hall-of-fame [class*="vote-down-button"] {
	background: red;
	border: none;
}