.donate {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-width: 950px;
	min-height: 600px;
}

.donate .payment-method {
	margin: auto;
	border: solid 5px wheat;
	border-radius: 50px;
	height: 80px;
	width: 50%;
	min-width: 500px;
}

.donate .p-inputnumber {
	margin-right: 10px;
}

.donate .p-inputnumber input {
	font-weight: 800;
}

.donate input[type="submit" i] {
	background-color: transparent;
	border: none;
}
